*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

:root {
  /* Colors */
  /* Bright colors */
  --color-primary: hsl(231, 69%, 60%);
  --color-secondary: hsl(0, 94%, 66%);
  /* Contrast colors */
  --color-contrast-primary: hsl(0, 0%, 97%);
  --color-contrast-secondary: hsl(229, 31%, 21%);
  /* Sizes */
  /* Spacing sizes */
  --size-smaller: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);
  /* Font sizes */
  --size-font-small: clamp(1rem, calc(0.5rem + 0.5vw), 1.1rem);
  --size-font-medium: clamp(1.1rem, calc(0.9rem + 0.6vw), 1.2rem);
  --size-font-large: clamp(1.2rem, calc(1rem + 0.8vw), 1.4rem);
  --size-font-larger: clamp(1.65rem, calc(1.4rem + 1vw), 2rem);
  /* Font */
  /* Font weights */
  --font-weight-white: 100;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

/* Tablet */
@media screen and (min-width: 40rem) {
  :root {
    /* Font sizes */
    --size-font-small: clamp(1.1rem, calc(1rem + 0.7vw), 1.3rem);
    --size-font-medium: clamp(1.2rem, calc(1rem + 0.8vw), 1.5rem);
    --size-font-large: clamp(1.5rem, calc(1.3rem + 1vw), 1.7rem);
    --size-font-larger: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  }
}
/* Desktop */
@media screen and (min-width: 65rem) {
  :root {
    /* size-Font sizes */
    --size-font-small: clamp(0.7rem, calc(0.6rem + 0.2vw), 1rem);
    --size-font-medium: clamp(0.8rem, calc(0.7rem + 0.3vw), 1.2rem);
    --size-font-large: clamp(1rem, calc(0.8rem + 0.5vw), 1.4rem);
    --size-font-larger: clamp(1.5rem, calc(2rem + 0.7vw), 3rem);
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--size-small);
}

.nav__hamburger {
  order: -1;
  position: absolute;
  right: var(--size-small);
  cursor: pointer;
}
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-small);
}
.nav li {
  list-style: none;
}
.nav a {
  text-transform: lowercase;
  text-decoration: none;
  color: var(--color--primary);
  transition: 500ms ease;
}
.nav a:hover {
  cursor: pointer;
  color: var(--color-secondary);
  transition: 200ms ease;
}
.nav--desktop {
  display: none;
}
.nav--mobile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  padding: var(--size-medium);
  gap: var(--size-medium);
  width: 100%;
}
.nav--mobile #close-button {
  background: none;
  border: none;
  font-size: var(--size-font-small);
  color: var(--color-secondary);
}
.nav--mobile #close-button:hover {
  cursor: pointer;
}
.nav--dialog {
  width: 100vw;
  border: none;
  max-width: none;
  margin: none;
}
.nav--dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 43rem) {
  .nav__hamburger {
    display: none;
  }
  .nav--mobile {
    display: none;
  }
  .nav--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-small);
    width: -moz-fit-content;
    width: fit-content;
  }
}
body {
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */